<ion-view title="Fotos">
  <ion-content>
    <ion-list>
      <ion-item class="card card-image">
        <img src="img/eventoTop.jpg" alt=""/>
        <div class="card-content">
          <p>Esse evento foi muitoi top <span>#IGRoup</span> <span>#StartupWeekend</span></p>
        </div>
      </ion-item>
      <ion-item class="card card-image">
        <img src="img/eventoTop.jpg" alt=""/>
        <div class="card-content">
          <p>Esse evento foi muitoi top <span>#IGRoup</span> <span>#StartupWeekend</span></p>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>